<!--
Adimin Page : 관리자(admin)로 로그인 했을 경우 보여지는 페이지
!-->
<template>
<v-app>
  <v-app-bar
      dense
      dark
      app
      style="opacity:0.8;"
    >

      <v-toolbar-title>Admin Page</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon  @click="this.$router.push('login')" >
        <v-icon>mdi-logout</v-icon>
      </v-btn>


    </v-app-bar>
  <v-main>
<v-simple-table fixed-header>
    <template v-slot:default>
        <thead>
            <tr>
          <th class="text-center">
            Date
          </th>
          <th class="text-center">
            ID
          </th>
        </tr>
        </thead>
        <tbody>
          <tr v-for="(k,i) in result_list"
          :key="i">
          <td @click="test(i)">{{i}}</td>
          <td>{{k}}</td>
        </tr> 
        </tbody>
    </template>
</v-simple-table>
  </v-main>
</v-app>
</template>
<script>
import axios from 'axios'

export default {
    name:"Admin",
    data:()=>({
      result_list:{},
      path:''
    }),
    mounted(){
      axios.post('http://58.230.118.77:9001/admin').then( res => {
        this.result_list = res.data
        })
       
      
    },
    methods:{
      test(r){
        console.log(r)
        this.$router.push({name:'Panorama', params:{dir_name: r}})
      },
      move(){
        
      }
    }
}
</script>