<!--
File Upload Page : 사용자(관리자 제외)가 로그인 후 보여지는 파일 업로드 페이지 
!-->
<template>
    <v-app>
        <v-app-bar dense app dark style="opacity:0.8;">
           <v-toolbar-title>Panorama Maker</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon  @click="$router.push('/')" >
        <v-icon>mdi-logout</v-icon>
      </v-btn>
        </v-app-bar>
    <v-main>
        <v-file-input multiple v-model="files" show-size label="File input"></v-file-input>
        <v-btn @click="upload" color="primary">Upload</v-btn>
        <v-btn @click="$router.push('/list')" color="primary">결과보기</v-btn>
    </v-main>
    
</v-app>
</template>

<script>
import axios from 'axios'
//import Compressor from 'compressorjs'

export default {
    name:'Home',
    data:() => ({
        files:[],
        dir_name: '',
        r: []
    }),
    methods:{
   

      async upload(){
        var file = new FormData();
        console.log(this.$store.state.id)
        file.append('id', this.$store.state.id)
        for (var i = 0; i < this.files.length; i++){
          file.append('file',this.files[i]);
        }

        await axios.post('http://58.230.118.77:9001/upload',
          file,{
            headers:{
              'Content-Type': 'multipart/form-data'
            }
          }
        ).then( res => {
           //console.log('success!!');
           console.log(res.data)
           this.dir_name = res.data
        })
      },
      async admin(){
        await axios.post('http://58.230.118.77:9001/admin').then( res => {
          console.log(res.data)
        })
      }
    }

}
</script>