<!--
결과보기 Page : 결과 보기 버튼을 클릭하면 보이는 페이지
!-->

<template>
<v-app>
   <v-app-bar
      dense
      dark
      app
      style="opacity:0.8;"
    >
            <v-btn icon @click="$router.go(-1)">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-toolbar-title>Result Page</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon  @click="$router.push('/')" >
        <v-icon>mdi-logout</v-icon>
      </v-btn>


    </v-app-bar>
  <v-main>
<v-simple-table fixed-header>
    <template v-slot:default>
        <thead>
            <tr>
          <th class="text-left">
            Name
          </th>
        </tr>
        </thead>
        <tbody>
          <tr v-for="r in result_list"
          :key="r">
          <td @click="test(r)">{{r}}</td>
            </tr>
        </tbody>
    </template>
</v-simple-table>
</v-main>
</v-app>
</template>
<script>
import axios from 'axios'

export default {
    name:"List",
    data:()=>({
      result_list:[],
      path:''
    }),
    mounted(){
      var info = new FormData();
      info.append('id',this.$store.state.id)
        axios.post('http://58.230.118.77:9001/getlist',info,{
            headers:{
              'Content-Type': 'multipart/form-data'
            }
          })
            .then(res=>{
                //console.log(res.data)
                this.result_list = Object.keys(res.data)
                // console.log(Object.keys(res.data)[1])
                // console.log(this.result_list[0])
        })
    },
    methods:{
      test(r){
        //console.log(r)
        this.$router.push({name:'Panorama', params:{dir_name: r}})
      }
    }
}
</script>