<!--
Login Page : 로그인 페이지
!-->
<template>
<v-app>
     <v-container
        align-content-space-around
        fiil-height
        column
        style="max-width:450px;">
        <v-layout
          align-center
          justify-center>
          <v-flex xs12 >
            <v-card dark
              style="opacity:0.8; border-radius: 10px;"
              class="elevation-12 pa-4">
              <v-card-title>LOGIN</v-card-title>
              <v-form
                class="pa-4"
              >
                <v-text-field
                  v-model="name"
                  dark
                  label="이름"
                  type="text"/>
                <v-btn
                  dark
                  depressed
                  large
                  block
                  @click="test()"
                >Login</v-btn>
              </v-form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
</v-app>
</template>

<script>
export default {
    name:'Login',
    data:()=>({
      name : ''
    }),
    methods:{
      test(){
        //console.log("~~"+this.$store.state.id)
        this.$store.commit('userID',this.name);
        //console.log("!!!!!!!"+this.$store.state.id);
        if(this.name == 'admin'){
          this.$router.push('/admin')
        }
        else{
          this.$router.push('/home')
        }
      }
    }
}
</script>