<template>
<v-app>
   <v-app-bar
      dense
      dark
      app
    >
            <v-btn icon @click="$router.go(-1)">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      <v-toolbar-title>Panorama Viewer</v-toolbar-title>

      <v-spacer></v-spacer>


    </v-app-bar>
    <v-main>
  <v-pannellum preview :src="'data:image/jpg;base64,'+url"  :auto-rotate="true"></v-pannellum>
    </v-main>
</v-app>
</template>

<script>
import Vue from 'vue';
import VuePannellum from 'vue-pannellum';
import axios from 'axios';
Vue.component('VPannellum', VuePannellum)
export default {
  name: 'Panorama',
  data(){
    return{
      url: ''
    }
  },
  mounted(){
    console.log(this.$route.params.dir_name)
    axios.post('http://58.230.118.77:9001/send',
    {
      "dir_name": this.$route.params.dir_name
    }).then(res =>{this.url = res.data})
  }
}
</script>
